# rust build
**/target/
.sqlx/

# python build
**/__pycache__/
**/*.py[cod]
python/**/build/
**/*.egg-info/
**/.venv/

# zig build
**/.zig-cache/
**/zig-out/

# env
**/.env

# databases
sled/
*.sqlite
